<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{currentTime | date:"HH:mm" }}</ion-card-title>
      <ion-card-subtitle>{{currentTime | date:"dd MMMM yyyy" }}</ion-card-subtitle>
    </ion-card-header>

    <ion-button expand="block" class="ion-margin" (click)="openPicker()" *ngIf="!this.validTicket">
      Select<ion-icon name="time-outline" slot="end"></ion-icon>
    </ion-button>

    <ion-card-header>
      <ion-card-title *ngIf="!this.validTicket">{{expiryTime | date:"HH:mm" }}</ion-card-title>
      <ion-card-subtitle *ngIf="!this.validTicket">{{expiryTime | date:"dd MMMM yyyy" }}</ion-card-subtitle>

      <ion-card-title *ngIf="this.totalPrice!=null">€{{this.totalPrice}}</ion-card-title>

      <h3 *ngIf="this.validTicket">You already have an active ticket</h3>
      <ion-icon class="check" color="success" name="checkmark-outline" *ngIf="this.validTicket"></ion-icon>
    </ion-card-header>
  </ion-card>

  <ion-button class="ion-margin" expand="block" (click)="this.paymentSheet()" *ngIf="this.totalPrice!=null && !this.validTicket">Pay <ion-icon name="card-outline" slot="end"></ion-icon></ion-button>
</ion-content>
