<ion-header>
  <ion-toolbar>
    <ion-title>buy-ticket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-label>Current Time: {{currentTime | date:"dd MMMM yyyy HH:mm" }}</ion-label>
    <br>
    <ion-button (click)="openPicker()">Choose parking time</ion-button>
    <br>
    <ion-label *ngIf="expiryTime!=null">Parking Expiry Time: <b>{{expiryTime | date:"dd MMMM yyyy HH:mm" }}</b></ion-label>
    <br>
    <ion-label *ngIf="this.totalPrice!=null">Total Price: <b>€{{this.totalPrice}}</b></ion-label>
    <br>
    <ion-button (click)="this.createTicket()">Purchase</ion-button>
</ion-content>
