<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
      <ion-buttons slot="end">
        <span>user email
        </span>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-router-outlet></ion-router-outlet>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="add">
      <ion-icon name="add-circle-outline"></ion-icon>
      Add
    </ion-tab-button>
    <ion-tab-button tab="buy">
      <ion-icon name="card-outline"></ion-icon>
      Buy
    </ion-tab-button>
    <ion-tab-button tab="view">
      <ion-icon name="list-outline"></ion-icon>
      View
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
