<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img slot="start" src="assets/pp.png"></ion-img>
    <ion-buttons slot="end">
      <span>{{userEmail}}</span>
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-router-outlet></ion-router-outlet>
    <ion-tab-button tab="add">
      <ion-icon name="add-circle-outline"></ion-icon>
      Vehicle
    </ion-tab-button>
    <ion-tab-button tab="buy">
      <ion-icon name="card-outline"></ion-icon>
      Ticket
    </ion-tab-button>
    <ion-tab-button tab="view">
      <ion-icon name="ticket-outline"></ion-icon>
      History
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
